footer {
    height: 15vh;
    background-color: #D5C8BB;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3{
    padding: 10px 0;
}

.footer-div-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-div-container__imgs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-div-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.footer-div-footer__containers{
    width: 30%;
}