.Footer{
    
    background: #D5C8BB;
    height: 20vh !important;
    text-align: center;
    margin-top: 70px;
    
    
}

.grop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}

.iconos{
    align-items: center;
}

.line32{
    width: 35%;
}
.line33{
    width: 35%;
}

.sig{
    font-size: 20px;
}
.Footer .polit{
    text-decoration: none;
    color: black;
    transition: 0.1s;

}

.Footer .polit:hover{
    color: rgb(3, 83, 158);
}