.footer-offline{
    background: #D5C8BB;
    text-align: center;
    height: 100px;
}

.footer-offline .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 5px 5px; */
    padding-top: 5px;
    padding-bottom: 10px;
}