.header-offline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    background: #A9B895;
}
.header-offline div {
    margin-left: 3%;
}

.header-offline nav {
    display: flex;
    width: 75%;
    justify-content: space-around;
}

.header-offline input {
    width: 300px;
    border-radius: 10px;
}

.header-offline .link{
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
    border: 1px rgba(255, 255, 255, 0) solid;
}

.header-offline .link:hover {
    background: #c7f7cf;
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.149) solid;
}