.home-div-dos{
    width: 100%;
    text-align: center;
    margin: 10%  0;
    /* font-size: 1.5rem; */
}

.home-div-dos h2 {
    margin-bottom: 2%;
}

.home-div-dos__container{
    display: flex;
}

.home-div-dos__div{
    width: 50%;
    line-height: 3;
}

.home-div-dos__div1{
    display: flex;
    align-items: center;
    justify-content: center;
}