.home-div-uno{
    height: 30vh;
    background: url("../imgs/HomeD1.jpg");
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 0;
}

.home-div-uno div {
    text-align: center;
    width: 50%;
}

.home-div-uno h1 {
    margin-bottom: 10%;
}

.home-div-uno button{
    background-color: #7CA86E;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-style:normal;
}

.home-div-uno button:hover{
    background: #c7f7cf;
    color: black;
    font-style: italic;
}

@media screen and (min-width: 768px) {
    .home-div-uno{
        height: 90vh;
    }
}