
.header-father {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    background: #A9B895;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
}
.header-father div {
    margin-left: 3%;
}


.header-father nav {
    display: flex;
    width: 75%;
    justify-content: space-around;
    
}

.header-father input {
    width: 300px;
    border-radius: 10px;
}

.header-father .link{
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
    border: 1px rgba(255, 255, 255, 0) solid;
    color: black;
}

.header-father .link:hover {
    background: #c7f7cf;
    border-radius: 20px;
    border: 1px rgba(0, 0, 0, 0.149) solid;
}

.header-father .opdesple{
    text-decoration: none;
    
   
   
}
ul, ol{
    list-style: none;
    
}

.header-father .opdesple .list{
    background-color: #7CA86E;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    margin-left: 15px;
}

.header-father .opdesple .list:hover {
    background-color: #93B082;

}
.header-father li ul{
    display: none;
    position: absolute;

}
.header-father li:hover> ul{
    display: block;
}