.divpadre1{
    
    display: flex;
    
}



.divpadre1 .divcategoria{
    text-align: center;
}

.divpadre1 .divpadre2{
   display: flex;
   flex-direction: column;
    width: 10%;
    height: 85vh;
    justify-content: center;
   
    

}

.divpadre1 .divpadre2 .divcontainer1{
    text-align: center;
    margin-top: 30px;
    
}

.divpadre1 .divpadre2 .categoria{
    text-decoration: none;
    color: black;
}






.divpadre1 .divpadre3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
    
}