
.divpadre12 .card {
    display: block;
    background-color: #F2F1EC;
    padding: 10px 10px;

}

.divpadre12 .card .primer-div{
    text-align: center;
    justify-content: center;
}

.divpadre12 .card .segundo-div{
    margin-top: 10%;
}

.divpadre12 .card .botont{
    text-align: center;
    margin-top: 5%;
   
}
.divpadre12 .card .botont button{
    width: 128.05px;
    height: 40px;
    background-color: #A9B895;
    border-radius: 100px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.1s;
    margin: 0 5%;
}

.divpadre12 .card .botont button:hover{
    background-color: #7CA86E;
}

 
