.body-register{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-register-conteiner{
    background-color: #D5C8BB;
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boby-register-conteiner__div{
    width: 50%;
}

.boby-register-conteiner__div h3{
    display: block;
    padding-bottom: 3%;
}

.boby-register-conteiner__div div{
    padding-bottom: 5%;
}

.boby-register-conteiner__div input{
    width: 100%;
    background-color: #7CA86E;
    border-radius: 5px;
}

.form-register-button{
    padding-top: 10%;
}

.body-register-form__title{
    text-align: center;
}

.form-register-button button{
    width: 100%;
    border-radius: 10px;
    background-color: #7CA86E;
}

@media screen and (min-width: 768px) {
    .body-register{
        height: 90vh;
    }

    .body-register-conteiner{
        width: 65%;
        height: 70vh;
    }
}